#categorySortList {
    background: #0f2a48;
}

.eds__simpleForum .edsf_table.edsf_categories tbody tr .edsf_name .edsf_titleDescriptionWrapper {
    width: auto !important;
    position: relative;
    margin-left: 5px !important;
}
.eds__simpleForum .edsf_table.edsf_categories tbody tr .edsf_name .edsf_titleDescriptionWrapper h3.edsf_itemTitle {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    color: #fff;
    background: #19496c;
    padding: 10px;
}
.eds__simpleForum .edsf_table.edsf_categories tbody tr .edsf_name .edsf_titleDescriptionWrapper h3.edsf_itemTitle a {
    color: #fff !important;
}
.edsf_icons a.edsf_rssLink {
    display: none !important;
}
table.edsf_table.edsf_topics thead tr {
    background: #f5f5f5;
    border-bottom: 1px;
}
table.edsf_table.edsf_topics {
    border: 1px solid #e6e6e6;
}
th.edsf_name.edsf_textLeft {
    text-align: center !important;
}
.eds__simpleForum .edsf_itemTitle{
    text-align: center;
}
.eds__simpleForum .edsf_itemTitle > a{
color: #888888 !important;
}