<?xml version="1.0" encoding="utf-8" ?>
<provider>
	<name>ProductRates</name>
	<description>Product Rates Shipping Provider</description>
	<class>CartViper.Store.Providers.Shipping.ProductRatesShippingProvider.ProductRatesController</class>
	<assembly>CartViper.Store.ShippingProviders</assembly>
	<controls>
		<control name="Admin" value="ProductRatesShippingAdmin.ascx" />
		<control name="Checkout" value="ProductRatesShippingCheckout.ascx" />
	</controls>
</provider>

