<configuration>
  <nodes configfile="dotnetnuke.config">
    <node path="/configuration/skinningdefaults/skininfo[@folder='/Gravity/']" action="remove" />
    <node path="/configuration/skinningdefaults/containerinfo[@folder='/Gravity/']" action="remove" />
    <node path="/configuration/skinningdefaults/skininfo[@folder='/Xcillion/']" action="remove" />
    <node path="/configuration/skinningdefaults/containerinfo[@folder='/Xcillion/']" action="remove" />
    <node path="/configuration/skinningdefaults" targetpath="/configuration/skinningdefaults/skininfo" action="update" key="" collision="ignore">
    <skininfo folder="/Cavalier/" default="Main.ascx" admindefault="Main.ascx" />
    </node>
    <node path="/configuration/skinningdefaults" targetpath="/configuration/skinningdefaults/containerinfo" action="update" key="" collision="ignore">
    <containerinfo folder="/Cavalier/" default="NoTitle.ascx" admindefault="Title_h2.ascx" />
    </node>
  </nodes>
</configuration>
