<?xml version="1.0" encoding="utf-8" ?>
<provider>
	<name>ZProducts</name>
	<description>ZProducts Shipping Provider</description>
	<class>CartViper.Store.Providers.Shipping.ZProductsShippingProvider.ShippingController</class>
	<assembly>CartViper.Store.ShippingProviders</assembly>
	<controls>
		<control name="Admin" value="ZProductsShippingAdmin.ascx" />
		<control name="Checkout" value="ZProductsShippingCheckout.ascx" />
	</controls>

  <bands>
    <band>
      <id>1</id>
      <country>Unitied States</country>
      <priority>Standard</priority>
      <firstBand>
        <itemLimit>3</itemLimit>
        <price>1.95</price>
      </firstBand>
      <additionalBand>
        <itemLimit>3</itemLimit>
        <price>3</price>
      </additionalBand>
    </band>
    <band>
      <id>2</id>
      <priority>Standard</priority>
      <country>*</country>
      <firstBand>
        <itemLimit>3</itemLimit>
        <price>9.95</price>
      </firstBand>
      <additionalBand>
        <itemLimit>3</itemLimit>
        <price>4</price>
      </additionalBand>
    </band>
  </bands>
</provider>


