<?xml version="1.0" encoding="utf-8" ?>
<provider>
	<name>FedExSmartPost</name>
	<description>FedEx SmartPost Shipping Provider</description>
	<class>CartViper.Store.ShippingProviders.FedExSmartPostShippingProvider.FedExSmartPostController</class>
	<assembly>CartViper.Store.ShippingProviders</assembly>
	<controls>
		<control name="Admin" value="FedExSmartPostAdmin.ascx" />
		<control name="Checkout" value="FedExSmartPostShippingCheckout.ascx" />
	</controls>
</provider>

