<configuration>
    <nodes configfile="web.config">
        <node path="/configuration/dotnetnuke/sitemap/providers" action="update" key="path" collision="ignore">
            <add name="CVSiteMap" type="CartViper.Modules.Store.SiteMap.CartViperSiteMapProvider, CartViper.Store.SiteMap" providerPath="~\DesktopModules\CartViper\SitemapProvider\" />
        </node>
    </nodes>
</configuration>