@charset "UTF-8";
/* Anova Container Set styles */

/* NoTitle
-------------------------------------*/
.DNNContainer_noTitle { }

/* Title_h1 
-------------------------------------*/
.DNNContainer_Title_h1 h1 .TitleH1 {
	display: block;
}

/* Title_lightGray 
-------------------------------------*/
.DNNContainer_Title_h5 h5 .TitleH5 {
	display: block;
	margin-bottom: 15px;
}

.DNNContainer_Title_h5 {
	padding: 20px;
	background-color: #e8e4e3;
}

/* Title_white 
-------------------------------------*/
.DNNContainer_Title_h6 h6 .TitleH6 {
	display: block;
} 

.DNNContainer_Title_h6 {
	padding: 20px;
	background-color: #fff;
	border: 1 px solid #e8e8e8;
}


