<ul class="cvCartItemRow" data-id="[ITEMID]">
  <li class="cvCartItemThumbnail">[PRODUCTTHUMBNAIL]</li>
  <li class="cvCartItemProductName">
    [PRODUCTHYPERLINK]
    [INSTOREPICKUP]
    [BACKORDERDETAILS]
    [VARIANTDETAILS]
  </li>
  <li class="cvCartItemQty">[QUANTITY]</li>
  <li class="cvCartItemPrice">[UNITPRICE]</li>
  <li class="cvCartItemLineTotal">[LINETOTAL]</li>
  <li class="cvCartItemDeleteItem">
    <a href="#" onclick="javascript:return DeleteItemInCart(this, [ITEMID])" class="DeleteSingleCartItem">
        [LOCALIZATION:lblDeleteSingleItemFromCart.Text]
    </a>
  </li>
  <li style="clear:both;"></li>
</ul>
