<html>
<head></head>
<body>
<h1>[STORENAME]</h1>
<p>Dear [CUSTOMERNAME]</p>
<p>You recently placed an order with [STORENAME]</p>

<p>This order (<strong>[ORDERID]</strong>) has changed status to "[STATUS]".</p>

<p>If you have any questions about this change, please feel free to contact us at <a href="mailto:[STOREEMAIL]">[STOREEMAIL]</a>, or simply reply to this message.</p>

<h3>IMPORTANT</h3>
<p>Your order now requires payment. If you wish to pay via a specific method, or would like to cancel your order, please contact us at <a href="mailto:[STOREEMAIL]">[STOREEMAIL]</a>, or simply reply to this message.</p>
<p>[MESSAGE]</p>

<p>You can check the status of your order at any time by logging in to our site and clicking the My Account link.</p>

<p>Once again, thank you for your order.</p>

<p><a href="[STOREURL]">[STOREURL]</a></p>
</body>
</html>