<html>
<head></head>
<body>
<h1>[STORENAME]</h1>
Dear [CUSTOMERNAME],<br/>
Your order has now been moderated, please check the order details and shipping costs:<br />
This order needs to be purchased using a credit card, please click <a href="[MODERATEDORDERSPAYMENTPAGE]">pay now</a> to be taken to our
payment page to complete this order.<br /> 
<h2>Billing Address</h2>
[BILLADDRESS]
<br/><br/>
Order Number: [ORDERNUMBER]<br/>
Order Date: [ORDERDATE]<br />
Offer Code Used: [OFFERCODE]<br />
Payment Status: [ORDERSTATUS]<br/>
Payment Method: [PAYMENTMETHOD]<br/>
[ORDERREGISTRATIONCODE]<br />
[DOWNLOADSOFTWARE]
<br/>
<h3>Order Details</h3>
<table>
<tr>
<td><strong>Item</strong></td>
<td><strong>Quantity</strong></td>
<td><strong>Unit Price</strong></td>
</tr>
[ORDERDETAILS]
<tr>
<td colspan="2" style="text-align:right;"><strong>Subtotal:</strong></td>
<td>[SUBTOTAL]</td>
</tr>
<tr>
<td colspan="2" style="text-align:right;"><strong>Discount:</strong></td>
<td>[DISCOUNT]</td>
</tr>
<tr>
<td colspan="2" style="text-align:right;"><strong>Shipping:</strong></td>
<td>[SHIPPING]</td>
</tr>
<tr>
<td colspan="2" style="text-align:right;"><strong>Tax:</strong></td>
<td>[TAX]</td>
</tr>
<tr>
<td colspan="2" style="text-align:right;"><strong>Total:</strong></td>
<td>[TOTAL]</td>
</tr>
</table>
<br/>
<br/>
Your order will be shipping via: [SHIPPINGMETHOD]<br/><br/>
<h2>Shipping Address</h2>
[SHIPPINGADDRESS]
<br /><br />
Thank you for your order
</body>
</html>