<div class="cvProductListContainer">
    <p class="Normal">[EDIT][PRODUCTNAMELINK]</p>
    <p class="Normal">[THUMBNAILIMAGE]</p>
    <p class="productSummary StoreClear">[SUMMARY]</p>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <p class="Normal StoreClear"><span class="productPrice">[PRICE]</span> [VATPRICE]</p>
        <p>[RECURRINGPRICES]</p>
    </div>
    <p>[LINKDETAIL][LINKDETAILIMG]</p>
    <p class="Normal StoreClear">[ADDTOCOMPARISONLIST]</p>
    <p class="Normal StoreClear addToCartWrapper">[ADDQUANTITY] <!--[QTYRESTRICTIONS]--> [ADDTOCART]</p>
</div>