<?xml version="1.0" encoding="utf-8" ?>
<provider>
  <name>Australian Post</name>
  <description>Australian Post Shipping Provider</description>
  <class>CartViper.Store.Providers.Shipping.AustralianPostShippingProvider.AustralianPostController</class>
  <assembly>CartViper.Store.ShippingProviders</assembly>
  <controls>
    <control name="Admin" value="AustralianPostShippingAdmin.ascx" />
    <control name="Checkout" value="AustralianPostShippingCheckout.ascx" />
  </controls>
</provider>