@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Paytone+One|Roboto:300,400,500|Saira:400,500');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');
 /* font-family: 'PT Sans', sans-serif;
	font-family: 'Paytone One', sans-serif;
	font-family: 'Saira', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Oxygen', sans-serif;
*/
body {
    background: #efeeec;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
div.container-fluid > .row {
    margin: 0;
}
div.container-fluid {
    margin: 0;
    max-width: 100% !important;
}
.white_bg{
	background:#fff !important;
}

.eds_container .DnnModule {
    max-width: 1170px;
    margin: 0 auto;
}
.eds_container .DnnModule tbody#categorySortList tr.edsf_color_default {
    width: 48% !important;
    float: left;
    margin: 1%;
    min-height: 135px;
    border: 1px solid #4a4a4a;
}
.edsf_titleDescriptionWrapper h3.edsf_itemTitle a {
    color: #fff;
}
table.edsf_table.edsf_categories tr.edsf_color_default:hover {
    background: #e4e4e4 !important;
}

.edsgg__itemsListContainer.edsgg__items span.edsgg_likes, ul.edsgg_galleryDetails {
    display: none;
}
.eds_GravityGallery_Graviton h1.edsgg_mainTitle {
    max-width: 1060px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: normal;
color: #fff;    padding-top: 30px;
}
.eds_galleryWrapper {
    position: relative;
    background: #13375b;
}
.edsgg_thumbnailWrapper {
    background: transparent !important;
    border: 0 !important;
}
span.edsgg_title {
    background: #1a496f;
    margin: 0 !important;
    max-width: 100% !important;
    padding: 15px;
    color: #fff;
    font-weight: normal !important;
    border: 1px solid #215488;
    text-align: center !important;
}
span.edsgg_readMore.edsgg_mediaType_image {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #1a496f59 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.edsf_icons a.edsf_rssLink {
    display: none !important;
}
tbody.edsf__topicListWrapper {
    background: #fdfdfd;
}

table.edsf_table.edsf_topics thead {
    background: #e4e4e4;
}

table.edsf_table.edsf_topics>tbody.edsf__topicListWrapper>tr.edsf__topicContainer:hover {
    background: #dadada !important;
}
table.edsf_table.edsf_topics>tbody.edsf__topicListWrapper>tr.edsf__topicContainer a {
    color: #333;
}
table.edsf_table.edsf_categories tr.edsf_color_default {
    background: #f3f3f3 !important;
}
tbody#categorySortList a {
    color: #f7931e;
    font-size: 28px;
    font-weight: 600;
}
/**********************  end of media queries  *******************/




