<?xml version="1.0" encoding="utf-8" ?>
<provider>
  <name>USPS</name>
  <description>USPS Shipping Provider</description>
  <class>CartViper.Store.Providers.Shipping.USPSShippingProvider.USPSController</class>
  <assembly>CartViper.Store.ShippingProviders</assembly>
  <controls>
    <control name="Admin" value="USPSShippingAdmin.ascx" />
    <control name="Checkout" value="USPSShippingCheckout.ascx" />
  </controls>
</provider>