<?xml version="1.0" encoding="utf-8" ?>
<provider>
	<name>FedEx</name>
	<description>FedEx Shipping Provider</description>
	<class>CartViper.Store.Providers.Shipping.FedExShippingProvider.FedExController</class>
	<assembly>CartViper.Store.ShippingProviders</assembly>
	<controls>
		<control name="Admin" value="FedExShippingAdmin.ascx" />
		<control name="Checkout" value="FedExShippingCheckout.ascx" />
	</controls>
</provider>

