body {
  -webkit-transition: all 300ms linear;
  -khtml-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
body.eds_headerActive {
  padding-left: 300px;
}

.EasyDNNSkin_Ozone {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  box-shadow: 1px 1px 3px 0 #c2c2c2;
  border-top: none !important;
  border-bottom: none !important;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_fixedHeader {
  max-width: 1200px;
}
.EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer1 .eds_headerBackground .eds_header {
  padding-left: 0 !important;
}
.EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer1 .eds_headerBackground .responsAbilityMenu .raMenuWrapper > ol {
  margin-right: -12px;
}
@media handheld, only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
  .EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer1 .eds_headerBackground .responsAbilityMenu .raMenuWrapper > ol {
    margin-right: 0;
  }
}
.EasyDNNSkin_Ozone .eds_headerContainer .responsAbilityMenu .raMenuWrapper > ol > li.edsmm_megaMenu.edsmm_fullWidth > div, .EasyDNNSkin_Ozone .eds_headerContainer .responsAbilityMenu .raMenuWrapper > ol > li.edsmm_megaMenu.edsmm_pageWidth > div {
  left: 0;
  right: 0;
}
.EasyDNNSkin_Ozone.eds_headerActive .eds_sideHeader {
  left: 0 !important;
}
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent {
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent .eds_headerContainer ~ div,
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent .eds_headerContainer .eds_headerContent,
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent .eds_pageDetails {
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive {
  -webkit-transform: none;
  transform: none;
  overflow-x: visible;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive {
    transform: none;
  }
}
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_headerContainer ~ div,
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_headerContainer .eds_headerContent,
.EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_pageDetails {
  -webkit-transform: none;
  transform: none;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_headerContainer ~ div,
  .EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_headerContainer .eds_headerContent,
  .EasyDNNSkin_Ozone.eds_fixedSideHeader.eds_headerOnClickOpen.eds_pushContent.eds_headerActive .eds_pageDetails {
    transform: none;
  }
}

