.catlog_section {
    margin: 10px 0;
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 20px 10px;
}
.catlog_section .col-sm-2.eds_container {
    margin-top: 80px;
}
#sliderProducts{
    width:100%;
    height:250px;
    border:1px solid black;
    margin: 0 auto;
    position:relative;
    padding: 0;
}
#sliderProducts>img{
    width:100%;
    height:100%;
    position:absolute;
}
#sliderProducts>.btn {
    position: absolute;
    width: 50px;
    height: 100px;
    border: none;
    top: 80px;
    background: #fff;
    font-size: 50px;
}
.nav-search {
    float: left;
    width: 50%;
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;
}
.nav-search span.search_txt {
    font-size: 22px;
    display: block;
    float: left;
    min-width: 130px;
    line-height: 39px;
    font-weight: 700;
    color: #fff;
}
.nav-search img {
    max-height: 39px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-search .input-group input, .nav-search .input-group button.btn.btn-default {
    border-color: #256192;
}
.nav-search .input-group button.btn.btn-default:hover {
    background: #17588b;
    color: #fff;
}
button#btn1 {
    left: 0;
    border-radius: 0px 5px 5px 0px !important;
}
button#btn2 {
    right: 0;
    border-radius: 5px 0px 0px 5px !important;
}
.catlog_section .col-sm-2.eds_container.img-responsive {
    margin-top: 0;
    max-height: 296px;
}
.main_nav_search {
    display: inline-block;
    background: #17588b;
    padding-top: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
}
div#dnn_headerMegamenuPane {
    padding: 0;
}
div#dnn_headerMegamenuPane nav.navbar.navbar-inverse {
    border-radius: 0;
}
div#dnn_headerMegamenuPane nav.navbar.navbar-inverse .navbar-collapse {
    padding: 0;
}
div#dnn_sliderPane{max-height:250px;overflow:hidden;}
div#dnn_sliderPane .chameleon_slider a.navigation_button {
    top: 20% !important;
}
.chameleon_slider .main_panel .items_wrapper .item_container > img {
    max-width: none;
    max-height: none;
    top: 0 !important;
}


/************* mega menu **************/
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
/*mega menu End*/
/*right nav*/
.main_nav_search ul.nav.navbar-nav.navbar-right a {
    padding-top: 5px;
    background: transparent !important;
    color: #fff;
}
.main_nav_search ul.nav.navbar-nav.navbar-right li ul li a {
    color: #333 !important;
}
body#Body {
    background: #fff !important;
}
.catlog_section h4 p {
    color: #475e90;
    font-weight: 400;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}
div.rzc-social-bar a {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #999999 !important;
    border-radius: 18px;
    font-size: 14px;
    width: 28px !important;
    height: 28px !important;
    line-height: 19px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rightinner_pro p {
    float: left;
    line-height: 22px;
    padding-top: 3px;
    margin-right: 6px !important;
    font-weight: 700;
    margin-bottom: 0 !important;
    font-size: 16px !important;
}
.rzc-social-bar a i.fa {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.col-md-3 .form label.control-label {
    float: left;
    margin-right: 5px;
    margin-bottom: 0 !important;
    line-height: 26px;
}
.right_pro_box span.blue {
    color: blue;
}
.right_pro_box span.red {
    color: #c32828;
    font-weight: bold;
}
.right_pro_box button.btn.btn-primary {
    min-width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    background: #eed37a;
    border-color: #eed37a;
    color: #333;
    position: relative;
}
.right_pro_box button.btn.btn-primary:after {
    content: "\f07a";
    position: absolute;
    left: 10px;
    top: 6px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.right_pro_box p a {
    line-height: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-top: 6px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.right_pro_box address p {
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 20px;
    color: #4747ff;
}
.right_pro_box address p i {
    margin-left: -15px;
    margin-right: 5px;
}
.right_pro_box input.btn.btn-default {
    min-width: 100%;
}
.right_pro_box p.last a {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.right_pro_box {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 280px;
}
.col-sm-6 .rzcVariantGroup {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
}
.col-sm-6 .rzcVariantGroup p {
    margin-bottom: 0;
}
.col-sm-6 .rzcVariantGroup p.title {
    font-weight: bold;
}
div#make_model_year .edess_container {
    margin-top: 30px;
}
div#make_model_year .edess_container p {
    font-size: 27px;
    line-height: 36px;
}
