@charset "UTF-8";
body, html {
  direction: rtl;
  text-align: right;
}

.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_language .eds_languageText {
  background-position: right center;
  padding-left: 0;
  padding-right: 28px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup,
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .loginGroup {
  float: left;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .loginGroup {
  margin-right: 26px;
  margin-left: 0;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .loginGroup a,
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userDisplayName a {
  padding-left: 0;
  padding-right: 27px;
  background-position: right center;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userDisplayName {
  margin-left: 0;
  margin-right: 22px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li + li.userDisplayName a {
  padding-right: 0;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userMessages a span, .EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userNotifications a span {
  right: auto;
  left: -6px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userMessages {
  margin-left: 0;
  margin-right: 30px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_userLogin .registerGroup > ul li.userNotifications {
  margin-left: 0;
  margin-right: 12px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_searchButton {
  float: left;
  margin-right: 19px;
  margin-left: 1px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_searchContainer {
  left: 0;
  right: auto;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_searchContainer .eds_searchClose {
  right: auto;
  left: 5px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_searchContainer #dnn_dnnSearch_ClassicSearch .SearchButton {
  float: left;
  border-radius: 0 0 2px 2px;
}
.EasyDNNSkin_Ozone .eds_headerContainer .eds_headerBackground .eds_header .eds_headerBanner {
  margin: 3px 0 9px 15px;
}
.EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer5 .eds_headerRight {
  float: left !important;
}
.EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer5 .eds_headerBackground .eds_header .eds_logo {
  margin: 20px 0 20px 20px;
}
.EasyDNNSkin_Ozone .eds_currentDate:after {
  float: left;
  margin-left: 0;
  margin-right: 5px;
}
.EasyDNNSkin_Ozone .eds_pageDetails .eds_pageTitle > span,
.EasyDNNSkin_Ozone .eds_pageDetails .eds_pageDescription > span {
  border-right: solid 4px #fff;
  border-left: none;
}
.EasyDNNSkin_Ozone .eds_pageDetails .eds_pageDescription > span > span + span {
  margin-left: 0;
  margin-right: 25px;
}
.EasyDNNSkin_Ozone .eds_pageDetails.eds_pageDetails4 > div .eds_breadCrumbs {
  float: left;
}
.EasyDNNSkin_Ozone .eds_pageDetails.eds_pageDetails4 > div .eds_pageTitle > span {
  border-right: none;
}
.EasyDNNSkin_Ozone .eds_pageDetails.eds_pageDetails5 > div .eds_pageTitle > span {
  border-right: none;
}
.EasyDNNSkin_Ozone .eds_breadCrumbs .eds_breadCrumb:first-child {
  border-radius: 0 2px 2px 0;
}
.EasyDNNSkin_Ozone .eds_breadCrumbs .eds_breadCrumb:last-child {
  border-radius: 2px 0 0 2px;
}
.EasyDNNSkin_Ozone .responsAbilityMenu {
  clear: left;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper > ol {
  text-align: unset;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper > ol > li > span .edsmm_itemContainer {
  margin-right: 0;
  padding-left: 0;
  padding-right: 10px;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper > ol > li.edsmm_megaMenu.edsmm_multiColumn > div > div > ol > li.edsmm_hasChild > span:after {
  right: auto;
  left: 5px;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper > ol > li.edsmm_megaMenu.edsmm_multiColumn > div > div > ol > li > div ol li > span:before {
  left: auto;
  right: 4px;
  content: "";
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper ol li > div {
  text-align: unset;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuWrapper ol li > div .edsmm_menuListsContainer > ol li.edsmm_hasChild > span:after {
  right: auto;
  left: 8px;
  content: "";
}
.EasyDNNSkin_Ozone .responsAbilityMenu.raMenuOpened .raMenuWrapper ol li.edsmm_hasChild > span > .edsmm_childIndicator {
  right: auto;
  left: 10px;
}
.EasyDNNSkin_Ozone .responsAbilityMenu.eds_menuType2 .raMenuWrapper > ol, .EasyDNNSkin_Ozone .responsAbilityMenu.eds_menuType5 .raMenuWrapper > ol {
  text-align: unset;
}
.EasyDNNSkin_Ozone .responsAbilityMenu.eds_menuType2 .raMenuWrapper ol li > div .edsmm_menuListsContainer > ol li.edsmm_hasChild > div, .EasyDNNSkin_Ozone .responsAbilityMenu.eds_menuType5 .raMenuWrapper ol li > div .edsmm_menuListsContainer > ol li.edsmm_hasChild > div {
  left: auto;
  right: 100%;
}
.EasyDNNSkin_Ozone .responsAbilityMenu.eds_menuType5 .raMenuWrapper > ol > li {
  margin: 0 0 0 30px;
}
.EasyDNNSkin_Ozone .responsAbilityMenu .raMenuTriggerWrapper .raMenuTrigger:after {
  margin-left: 0;
  margin-right: 10px;
}
.EasyDNNSkin_Ozone .eds_Tabs .eds_tabsNav > li {
  border-width: 0 0 0 1px;
}
.EasyDNNSkin_Ozone .eds_Tabs .eds_tabsNav > li.edsTabulator_active {
  border-radius: 5px 0 0 0;
}
.EasyDNNSkin_Ozone .eds_Accordion .edsAccordion_section .edsAccordion_title:after {
  right: auto;
  left: 0;
}
.EasyDNNSkin_Ozone .eds_Accordion.eds_Accordion2 .edsAccordion_section .edsAccordion_title:after {
  right: auto;
  left: -1px;
  border-radius: 4px 0 0 4px;
}
.EasyDNNSkin_Ozone .eds_Accordion.eds_Accordion3 .edsAccordion_section .edsAccordion_title {
  padding-left: 2px;
  padding-right: 37px;
}
.EasyDNNSkin_Ozone .eds_Accordion.eds_Accordion3 .edsAccordion_section .edsAccordion_title:after {
  right: 0;
  left: auto;
}
.EasyDNNSkin_Ozone .eds_sideMenu ul li {
  padding: 0 10px 0 0;
}
.EasyDNNSkin_Ozone ul.eds_listCircle > li, .EasyDNNSkin_Ozone ul.eds_listStar > li, .EasyDNNSkin_Ozone ul.eds_listCheckSquare > li, .EasyDNNSkin_Ozone ul.eds_listChevronCircle > li, .EasyDNNSkin_Ozone ul.eds_listCircleO > li, .EasyDNNSkin_Ozone ul.eds_listCheck > li, .EasyDNNSkin_Ozone ul.eds_listCheckSquareO > li, .EasyDNNSkin_Ozone ul.eds_listPaperclip > li {
  padding: 0 15px 0 0;
}
.EasyDNNSkin_Ozone ul.eds_listCircle > li:before, .EasyDNNSkin_Ozone ul.eds_listStar > li:before, .EasyDNNSkin_Ozone ul.eds_listCheckSquare > li:before, .EasyDNNSkin_Ozone ul.eds_listChevronCircle > li:before, .EasyDNNSkin_Ozone ul.eds_listCircleO > li:before, .EasyDNNSkin_Ozone ul.eds_listCheck > li:before, .EasyDNNSkin_Ozone ul.eds_listCheckSquareO > li:before, .EasyDNNSkin_Ozone ul.eds_listPaperclip > li:before {
  left: auto;
  right: 0;
}
.EasyDNNSkin_Ozone ul, .EasyDNNSkin_Ozone ol {
  margin-left: 0;
  margin-right: 15px;
}

.eds_pageScrolled .EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer5 .eds_headerBackground .eds_header .eds_searchButton {
  margin-right: 19px;
  margin-left: 1px;
}
.eds_pageScrolled .EasyDNNSkin_Ozone .eds_headerContainer.eds_headerContainer5 .eds_headerBackground .eds_header .eds_logo {
  margin: 10px 0 10px 10px;
}

