.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    min-height:90px;	
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 3px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto;
	margin-top:8px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 25px;
	height: 25px;
	font-size:12px;
}
.social-circle li i {
	margin:0;
	line-height:26px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #000;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle li a {
 background-color: #df4507;   
}

/* Slider */

h3 {
  display: inline-block;
  padding: 10px;
  top:5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pics{
	padding:15px;
	background:#f2f2f2;
}
.pics3{
	background:#ffffff;
	padding:15px 0;
	float:left;
}
.mt-40{
	margin-top:40px;
}
img{
	margin-bottom:15px;
}
.ad {
    background: none
    min-height: 186px;
    padding: 11px 10px;
    color:#fff;
}
.shop-head{font-size:180%; font-weight:700; color:#fff;}

.ad-bg {
    background: none;
    padding: 0px;
    margin-left: 12px;
}
.product-item img {
    margin-bottom: 0px;
}
@media (min-width: 768px){
	.navbar-nav {
		padding: 28px 0;
		font-size:18px;
	}
}
@media (max-width: 767px){
	.navbar-brand {
		padding: 10px;
		min-height:95px;
	}
	.carousel-caption {
		right: 15%;
		left: 5%;
		padding-bottom: 30px;
	}
	.ad-bg{
		margin-left:0px;
	}
	#pics .col-md-3{
		padding:0;
	}
}

#cars-scroll .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
#cars-scroll .left.carousel-control {
  right: 30px;
  left: inherit;
}
#cars-scroll .carousel-control .glyphicon-chevron-left, 
#cars-scroll .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.btn-primary {
    border-radius: 0px !important;
    padding: 6px 20px;
    background: #014980;
    font-size: 18px;
}
.btn-danger {
    border-radius: 0px !important;
    padding: 8px 21px;
    background: #d11717;
    font-size: 17px;
}
.bg-car { 
    /* The image used */
    background-image: url("../images/bg-car.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.copyright {
    min-height: 64px;
    background-color: #000000;
    margin: 0 auto;
}

    .copyright p {
        text-align: center;
        color: #FFF;
        padding: 10px 0;
        margin-bottom: 0px;
        font-size: 12px;
    }

.bottom_ul {
    list-style-type: none;
    margin-bottom: 0px;
}

    .bottom_ul li {
        line-height: 30px;
        display: inline-block
    }

        .bottom_ul li:after {
            content: "|";
            color: #d11717;
            margin-right: 8px;
            margin-left: 8px;
        }

        .bottom_ul li a {
            color: #d11717;
            font-size: 15px;
            font-weight: bold;
        }

            .bottom_ul li a:hover {
                opacity: 0.7
            }














.bg-car-vehicles { 
    /* The image used */
    background-image: url("../images/bg-car.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car-vehicles.text-color{color:#fff;};

.signup-border{background:#232323; color:#fff;opacity:0.8; border:10px solid #d11717;} 

.mt-md-20{margin-top:20px}

h2,h3{color:#fff;}
.forgot-password{color:#d11717; font-weight:bold; text-decoration:underline;}
.forgot-password a{color:#d11717; }
.forgot-password a:hover{color:#d11717; opacity:0.7 }

.input
{
    -moz-border-radius:0px; /* Firefox */
    -webkit-border-radius: 0px; /* Safari, Chrome */
    -khtml-border-radius:0px; /* KHTML */
    border-radius: 0px; /* CSS3 */
    behavior:url("border-radius.htc");
}


/*powersection*/

.power h3{color:#434343}
.owner-spotl h3{color:#434343}


/*vehiclesspecs*/

.veh-spec-bstrip{ background-color:#1a4385; padding:15px 0 15px 0; color:#fff;}


.bg-car-pure-excel { 
    /* The image used */
    background-image: url("../images/pure-ex-car-bg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car-pure-excel.text-color{color:#fff;};

.bg-car-pure-excel.bg-shadw{ background:#232323; color:#fff;opacity:0.4;  height:auto; padding:20px;margin:20px;}