.bg_black{
background-color: #000;
}


.bg-car-pure-excel { 
    /* The image used */
    background-image: url("../images/pure-ex-car-bg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car-pure-excel.text-color{color:#fff;};

.bg-car-pure-excel.bg-shadw{ background:#232323; color:#fff;opacity:0.4;  height:auto; padding:20px;margin:20px;}