<?xml version="1.0" encoding="utf-8" ?>
<provider>
  <name>UPS</name>
  <description>UPS Shipping Provider</description>
  <class>CartViper.Store.Providers.Shipping.UPSShippingProvider.UPSController</class>
  <assembly>CartViper.Store.ShippingProviders</assembly>
  <controls>
    <control name="Admin" value="UPSShippingAdmin.ascx" />
    <control name="Checkout" value="UPSShippingCheckout.ascx" />
  </controls>
</provider>